.auth{
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  text-align: justify;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Disabilita seleção na interface responsiva */

.tab a{
    color: #009688 !important;
}

#tab1{
    /*padding: 15px;*/
}

.item_avaliacao{
    width: calc(100% / 4);
    text-align: center;
}

#btn_avaliar{
    cursor: pointer;
}

/*--------------------------------------*/

#turnos{
  border: 1px solid #777;
  border-radius: 20px;
  margin: 1% 0;
}

#m{
  border-radius: 20px 0 0 20px;
}

#t{
  border: 1px solid #777;
  border-top: 0;
  border-bottom: 0;
}

#n{
  border-radius: 0 20px 20px 0;
}

/*--------------------------------------*/

#status_voz p{
    text-transform: uppercase;
    text-align: center;
}

#status_voz div{
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

#opcao_avaliar{
    background-color: #999;
    border-radius: 3px;
}

.verificado{
    background-color: #ddd;
    padding: 5px;
    margin-left: 5px;
    border-radius: 8px;
}

.card-content{
    padding: 20px 20px 0 !important;
}

.card-action{
    text-align: right;
}

.card-action i{
    position: relative;
    top: 5px;
}

.card-action a{
    margin-right: 0px !important;
}

.brand-logo, .brand-logo i{
    font-size: 20px !important;
}

.tabs{
    margin-bottom: 20px;
    overflow: hidden;
}

.tab{
  width: calc(100% / 3) !important;
}


.tab .material-icons{
    position: relative;
    top: 4px;
    font-size: 18px;
}

.tabs .indicator{
    background-color: teal;
}

.tabs .tab a:focus.active {
  background-color: rgba(192,192,192, 0.1);
}



.legenda_grafico{
    text-align: justify;
    font-size: 14px;
}

.legenda_grafico i{
    position: relative;
    top: 5px;
}

canvas{
    margin: 15px 0 20px;
}

#tela_avaliacao{
    background-color: rgba(255, 255, 255, 0.98);
    /*background-color: rgba(255, 255, 255, .15);*/
    /*backdrop-filter: blur(5px);*/
    position: fixed;
    text-align: justify;
    width: 100%;
    height: 100vh;
    z-index: 100;
    padding: 25px;
    visibility: hidden;
}

#tela_avaliacao h5{
    margin-bottom: 30px;
}

#fechar_avaliacao{
    text-align: right;
    font-weight: bold;
    float: right;
    position: relative;
    top: 10px;
    cursor: pointer;
}

#fechar_avaliacao i{
    position: relative;
    top: 7px;
}

h5{
    float: left;
}

h5 + p{
    clear: both;
}

#btn_tmf{
    background-color: teal;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    padding-top: 15px;
    color: #fff;
    box-shadow: 3px 3px 5px #bbb;
    margin-left: calc(50% - 40px);
    margin-top: 20px;
    cursor: pointer;
}

#btn_tmf i{
    font-size: 40px;
}

#btn_tmf:active{
    position: relative;
    top: 2px;
    left: 2px;
}

#resultado_voz{
    text-align: center;
}

#resultado_voz span{
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
}

.NORMAL{
    background-color: rgb(75, 192, 192);
}

.MÉDIA{
    background-color: rgb(255, 159, 64);
}

.ALTERADA{
    background-color: rgb(255, 99, 132);
}

.botoes_avaliacao{
    text-align: center;
    margin-top: 30px;
}

.botoes_avaliacao button{
    padding: 5px 10px;
    margin: 0 5px;
}

.botoes_avaliacao i{
    position: relative;
    top: 3px;
    font-size: 15px;
}

#salvar_avaliacao, #salvar_avaliacao i{
    font-weight: bold;
}

#salvar_avaliacao{
  display: none;
}

#logo_sidenav{
    margin-top: 10px;
}

#logo_sidenav a{
    font-size: 16px;
}


/*** Loader CSS ***/
.loader,
.loader:before,
.loader:after {
  background: #04b4b1;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #04b4b1;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


.loader{
    position: relative;
    top: 50px;
    margin: 0px auto;
    font-size: 8px;
}

.add-button{
  position: fixed;
  bottom: 1px;
  width: 100%;
  background-color: #009688;
  color: white;
  height: 7vh;
  border: 0;
  border-radius: 5px;
}

.add-button-space{
  height: 7vh;
}

.perfil-form > div.divider{
  margin: 3% 0;
}

#erro_logout{
  padding: 0 5%;
}

#erro_logout, #erro_login{
  line-height: initial;
  padding-top: 2%;
}

#erro_login, #erro_logout, #logout_wrapper{
  display: none;
}

#dados_perfil_salvo{
  background-color: rgba(75, 192, 192, 0.5);
  display: none;
}

.templates li{
  margin: 3% 2%;
}

.templates{
  display: none;
}

#gradienteHistoricoLegenda{
  height: 2vh; 
  background: linear-gradient(to right, rgba(255, 99, 132, 1) 0%,
                                        rgba(255, 99, 132, 0.3) 40%,
                                        rgba(255, 159, 64, 0.5) 50%,
                                        rgba(75, 192, 192, 0.3) 60%, 
                                        rgba(75, 192, 192, 1) 100%);
  border-radius: 10px;
}

#salvar_dados_perfil{
  margin: 3vh 0;
}